body {
  padding-top: 5em;
}
.navbar {
  min-height: 5em;
}
.navbar.navbar-fixed-top {
  background-color: #dcdcdc;
  border-bottom: #000 solid 2px;
}
.navbar-header a.navbar-brand h6 {
  color: #269abc;
}
.navbar-collapse.navbar-collapse li {
  padding-top: 0.5em;
}
footer {
  padding-left: 1em;
  padding-right: 1em;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 0.7em;
}
.navbar-form button {
  margin-left: 0.7em;
}
.top-padding-med {
  padding-top: 0.75em;
}
.margin-left-med {
  margin-left: 0.75em;
}
.toast-top-right {
  top: 1em;
  right: 2.5em;
}
.toast-success {
  background-color: #303030;
}
