body
  padding-top 4.5em

.navbar
  min-height 5em

.navbar.navbar-fixed-top
  background-color #dcdcdc
  border-bottom black solid 2px

.navbar-header a.navbar-brand
  h6
    color #269abc

.navbar-collapse.navbar-collapse li
  padding-top .5em

footer
  padding-left 1em
  padding-right 1em
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left .7em
  button
    margin-left .7em
