extends ../includes/layout

//"main-content" is a variable name, appended to layout.jade
block main-content
    //.navbar.navbar-inverse.navbar-fixed-top
    .navbar.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") MEAN1
                    h6 A MEAN stack called MEAN1
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    //li
                    //    a(href="/") NavItem1
                    //li
                    //    a(href="/") NavItem2
                    //li
                    //    a(href="/") NavItem3
                    //li
                    //    a(href="/") NavItem4
                div(ng-include="'partials/account/navbar-login'")

    // ".content" is a CSS class name, will inherit values from stylesheet
    section.content
        // "(ng-view)" directive that specifies area of placement for
        // angular content [app.js] to angular-route [ngRoute]
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 MEAN1 (MEANStack) Corp Int'l Ltd.