doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        // "main-content" is a variable name, prepended to index.jade
        block main-content
        // "include" is jade syntax, a call to send all .jade files specified after tag
        // NOTE: Does not compile included files.
        include scripts